[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
env2 = "*"

[dev-packages]
flake8 = "*"
pdoc = "*"
pytest = "*"
requests = "*"

[requires]
python_version = "3.9"

[scripts]
docs = "pdoc python_template"
debug = "uvicorn --log-level debug --reload python_template:app"
style = "flake8 python_template"
test = "pytest"
